body {
  font-family: "pretendard", sans-serif;
  background-color: #fafafa;
}

.LoginPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.BackImage1 {
  width: 12px;
  height: 24px;
  margin-top: 5px;
}

.logintext {
  margin: 30px 140px 23px 125px;
  font-size: 22px;
  font-weight: bold;
}

.inputid,
.inputpw {
  width: 355px;
  height: 56px;
  font-size: 16px;
  padding: 20px 24px;
  border: 1px solid #d9d9d9;
}

.inputid {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.inputpw {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #868686;
  font-size: 16px;
}

.login-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 9px 0 0 0;
}

.login-options {
  display: flex;
  margin-top: 7px;
  gap: 9px;
}

.login-option {
  text-decoration: none;
  color: #868686;
  cursor: pointer;
  font-size: 12px;
}

/* 버튼 스타일 */
.LoginButton {
  width: 358px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  border-style: none;
  background-color: #ffb1b4;
  margin-top: 30px; /* top 대신 margin 사용 */
}

.SignupButton1 {
  width: 358px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  color: #ffb1b4;
  border-radius: 10px;
  border-style: none;
  background-color: #ffe6e7;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.15), 0 0 6px rgba(0, 0, 0, 0.15);
  margin-top: 320px;
}
