body {
  font-family: "Pretendard", sans-serif;
  background-color: #fafafa;
}
p {
  text-align: left;
  font-size: 24px;
  line-height: 35px;
  margin-top: 150px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 180px;
}

.LogoImage {
  width: 180px;
  height: 174px;
}

.StartButton {
  width: 358px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  border-style: none;
  background-color: #ffb1b4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 0 6px rgba(0, 0, 0, 0.15);
}
