.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 상단 헤더 */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  position: relative;
}

/* 뒤로가기 버튼 */
.backBtn {
  cursor: pointer;
  width: 12px;
  height: 24px;
}

/* 마이페이지 타이틀 */
.title {
  flex: 1;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* 프로필 사진 + 연필 아이콘 */
.profileWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: 100px;
  margin-bottom: 30px;
  transform: translateY(-50px);
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ddd;
}

.editIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffe6e7;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

/* 닉네임 */
.nickname {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  transform: translateY(-50px);
}

/* 회원정보 버튼 */
.mainBtn {
  width: calc(100% - 100px);
  height: 7vh;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  transform: translateY(-50px);
  background-color: #ffb1b4;
  color: white;
}

/* 티어 / 칭호 버튼 */
.subBtnWrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  margin-top: -30px;
}

.subBtn {
  flex: 1;
  height: 60px;
  border-radius: 12px;
  border: 2px solid #fec7c9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  background-color: #ffffff;
}

/* 로그아웃 버튼 */
.logoutBtn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  height: 7vh;
  border-radius: 12px;
  border: none;
  background-color: #ffe6e7;
  color: #ffb1b4;
  font-size: 2vh;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
